.product-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;


    .item-san-pham {
        width: 250px;
        height: 300px;
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 30%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: all 0.1s ease-in-out;
        text-decoration: none;
        font-size: 1rem;
        color: black;
        position: relative;

        .added-count {
            font-size: 0.8rem;
            position: absolute;
            top: 15px;
            right: 10px;
            
            span {
                background-color: #6e8fec;
                color: white;
                padding: 5px 8px;
                border-radius: 20px;
            }
            
            .orange {
                background-color: #ff7519;
            }
        }
    
    
        .image-product {
            height: 70%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
    
            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: cover;
                transition: all 0.3s ease-in-out;
            }
        }
        &:hover {
            box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 40%);
            .image-product > img {
                max-height: 110%;
                max-width: 110%;
            }
        }
    
        .info-product {
            height: 30%;
            width: 100%;
            padding-top: 20px;
            padding-left: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .title-product > p {
                font-size: .9rem;
                font-weight: 500;
            }
    
            .price-product > p {
                font-size: 1.2rem;
                color: rgb(248, 76, 76);
                text-align: end;
                padding-right: 5px;
            }
        }
    }
}

.page-product {
    width: 100%;
    height: 100vh;
    // border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    
    .top-product-info {
        padding: 10px;
        border-bottom: 1px solid rgba(196, 196, 196, 0.3);

        .category {
            font-size: 1.2rem;
            font-weight: 500;
            color: rgb(76, 102, 248);
            padding-left: 5px;
            text-transform: uppercase;
        }
    }

    .body-product-info {
        display: flex;
        width: 100%;
        height: 400px;
        margin-top: 30px;

        .picture {
            margin: 15px;
            width: 40%;
            height: 80%;
            // border: 1px solid red;
            box-shadow: 1px 0px 4px 0px rgb(0 0 0 / 30%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            overflow: hidden;
            transition: all .3s ease-in-out;
            
            img {
                max-height: 90%;
                max-width: 90%;
                object-fit: cover;
                transition: all .3s ease-in-out;
            }

            &:hover {
                box-shadow: 1px 0px 4px 0px rgb(0 0 0 / 10%);

                img {
                    max-height: 120%;
                    max-width: 120%;
                }
            }
        }

        .product-info {
            margin: 10px 20px;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 60px;

            .title {
                font-size: 1.5rem;
                font-weight: 500;
                color: rgb(22, 22, 22);
                padding: 0 0 15px 0;
                height: 20%;
            }

            .description {
                line-height: 2rem;
                color:rgb(95, 95, 95);
                height: 50%;
            }
            
            .price {
                color:rgb(248, 76, 76);
                font-size: 1.8rem;
                padding: 5px 0 10px 0;
            }

            .bottom-product-info {
                display: flex;
                align-items: flex-end;

                .rating {
                    margin: 5px 0 20px 30px;
                    color: rgba(128, 128, 128, 0.644);
                }
    
                .add-to-cart {
                    border: 1px dashed rgb(248, 76, 76);
                    padding: 10px;
                    width: fit-content;

                    label {
                        font-size: 1rem;
                        font-weight: 500;
                        color: rgb(12, 15, 36);
                        padding-left: 5px;
                        text-transform: uppercase;
                    }
                    input {
                        width: 40px;
                        border: none;
                        font-size: 1rem;
                        padding: 1px;
                        color: rgb(48, 15, 15);
                        font-weight: bold;
    
                        &:focus {
                            outline: none;
                        }
                    }
                    button.btn-add-to-cart {
                        margin: 0 0 0 10px;
                        padding: 15px 30px 15px 15px;
                        background:rgb(76, 102, 248);
                        color: white;
                        border: none;
                        cursor: pointer;
                        position: relative;
    
                        &:hover {
                            background: rgb(104, 127, 253);
                        }

                        .added-count {
                            position: absolute;
                            top: 5px;
                            right: 0;
    
                            span {
                                background-color: rgba(255, 255, 255, 0.26);
                                color: white;
                                padding: 5px 8px;
                                border-radius: 20px;

                                &.orange {
                                    background-color: #ff7519;
                                }
                            }
                            
                        }
                    }
    
                }
            }
        }
        
    }
}

.page-add-product {
    width: 100%;
    // height: 100vh;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .title-page {
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(22, 22, 22);
        padding: 0 0 15px 0;
        width: 100%;
        padding: 30px;
    }

    .input-item {
        padding: 10px;
        height: 80px;
        background: rgb(231, 231, 231);
        width: calc(min(500px, 100%));
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 20px;
        border-radius: 10px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        transition: all .3s ease-in-out;

        label {
            width: max(150px, 40%);
        }

        input {
            flex-grow: 1;
            margin-left: 10px;
            padding: 5px;
            padding-left: 10px;
            outline: none;
            border: none;
            border-radius: 10px;
        }
        
        button.input-img-btn {
            max-width: 70%;
            flex-grow: 1;
            padding: 5px;
            padding-left: 10px;
            outline: none;
            border: none;
            border-radius: 10px;
            background:rgb(187, 187, 187);
            cursor: pointer;
            transition: all 0.1 ease-in-out;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            
            &:hover {
                background: #6e8fec;
                color: white;
            }
        }

        button.create-btn {
            max-width: 70%;
            font-size: 1.2rem;
            height: 50px;
            flex-grow: 1;
            padding: 5px;
            padding-left: 10px;
            outline: none;
            border: none;
            border-radius: 10px;
            background:rgb(187, 187, 187);
            cursor: pointer;
            transition: all 0.1 ease-in-out;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            
            &:hover {
                background: #6e8fec;
                color: white;
            }
        }
    }
    .description-input {
        height: 200px;

        textarea {
            flex-grow: 1;
            margin-left: 10px;
            padding: 5px;
            padding-left: 10px;
            outline: none;
            border: none;
            border-radius: 10px;
            height: 80%;
            resize: none;
            overflow: scroll;
            overflow-x: hidden;
        }
    }
    .submit {
        height: 200px;
    }

    .img-view {
        height: calc(min(500px, 100%));
        width: calc(min(500px, 100%));
        padding: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .alert {
        border: 1px solid red;
        box-shadow: inset 0 0 10px 0 rgba(255, 2, 2, 0.3);
    }
}